<h2>プライバシーポリシー</h2>

<pre>
株式会社GSトレーディング（以下、弊社といいます。）は、個人情報の保護は弊社が事業活動を行うにあたっての基礎であるとともに、弊社の社会的責任であると認識しております。

弊社は、弊社のサービスに関する情報をはじめ、お客様からご提供いただいた個人情報等、多種多様な情報を取り扱っております。

弊社は個人情報保護について、関連規程の制定及び管理体制の確立を図るとともに、以下のとおりプライバシーポリシーを定め、スタッフに周知徹底し、本方針に従って個人情報を適切に利用、管理及び保護することといたします。
 
1. 個人情報の収集、利用及び提供について
弊社は、事業活動を行うにあたって、お客様の大切な情報をご提供いただいていることを踏まえ、各業務実態に応じて個人情報を保護するための情報管理体制を確立し、個人情報の収集、利用及び提供に関して所定の規程に則り適切な取り扱いをいたします。
 
2. 法令の遵守について
弊社は、個人情報の取り扱いに関して、法令を遵守いたします。
 
3. 安全対策について
弊社は、個人情報を保護するため、情報セキュリティに関する規程に基づき、当該個人情報の管理、個人情報の持ち出し方法の指定、第三者からの不正アクセスの防止等の対策を行い、個人情報の漏洩、紛失、改ざん、破壊等の予防を図ります。
 
4. ご本人様の要請について
弊社は、個人情報に関して、ご本人様から当該個人情報の開示、訂正、削除、利用または提供について何らかの要請を受けた場合、誠実に対応いたします。
 
5. 個人情報管理規程について
弊社は、スタッフに対し、個人情報を保護する重要性と必要性の理解促進を図り、個人情報の適切な管理を図るため、個人情報管理規程を定め、当該規程を遵守いたします。
 
個人情報の利用目的
弊社は、事業活動に関連してご提供いただく（またはご提供いただいている）個人情報に関して、以下の目的に該当する場合のみ利用いたします。
 
１. お客様の個人情報について
弊社のサービス情報等に関するご案内のため
弊社のサービス情報等についてのお問い合わせに対する回答連絡のため
弊社のサービス情報等についてのアフターサービスなど取引業務遂行のため
弊社のサービスの販売またはご提供を目的とするご本人様確認のため
弊社のサービス情報等についてのアンケート調査及びモニター調査のため
弊社のサービス情報等についてのマーケティング活動のため
その他、弊社の及びサービス情報等のご提供に必要な場合
 
２. 取引先各社の個人情報について
業務上必要な諸連絡及び商談等のため
情報管理及び収支処理のため
 
３. 採用応募者様の個人情報について
採用活動についての連絡、情報提供及び調査のため
 
４. 広報活動にあたっての個人情報について
広報活動としての情報提供のため
 
５. 環境保全活動にあたっての個人情報について
CSR・環境保全活動についての情報提供及びアンケート調査のため
 
お問い合わせ窓口
弊社が現在保有する個人情報についての開示等の要請及び弊社の個人情報の取り扱いについてのご質問は、以下の手続きにて承っております。
なお、本手続きによらない要請の場合、ご対応いたしかねる場合がございますので、ご了承ください。
 
１. 個人情報の開示等の手続き
下記の送付先まで、郵送にてお送りください。
当会からご本人様またはその代理人様であることのご確認をさせていただき、確認が取れ次第、書面のご送付またはお客様及び当会が合意した方法にてご対応いたします。
なお、郵送料はご本人様のご負担となること、対応には日数を頂戴することにつきご了承ください。
 
２. 送付先
〒107-0062　東京都 港区 南青山2丁目2-15-1317
株式会社GSトレーディング
TEL:03-6271-0197
受付時間：平日11：00～18：00まで
</pre>
