<div>
<table style="width: 100%; height: 522px;">
<tbody>
<tr style="height: 24px;">
<th style="width: 21.0145%; height: 24px;">販売元</th>
<td style="width: 78.6957%; height: 24px;">株式会社GSトレーディング</td>
</tr>
<tr style="height: 24px;">
<th style="width: 21.0145%; height: 24px;">運営責任者</th>
<td style="width: 78.6957%; height: 24px;">佐々木　優子</td>
</tr>
<tr style="height: 24px;">
<th style="width: 21.0145%; height: 24px;">所在地</th>
<td style="width: 78.6957%; height: 24px;">〒107-0062　東京都 港区 南青山2丁目2-15-1317</td>
</tr>
<tr style="height: 72px;">
<th style="width: 21.0145%; height: 72px;">連絡先</th>
<td style="width: 78.6957%; height: 72px;">E-mail:gs-trading@wing.ocn.ne.jp
TEL:03-6271-0197
【ご注意】
①ご利用方法などのお問い合わせは電話で受け付けておりません。
②決済後にメールが届かない場合、迷惑フォルダーをご確認の上、弊社宛にメールでご連絡をお願い致します。</td>
</tr>
<tr style="height: 186px;">
<th style="width: 21.0145%; height: 186px;">商品名と販売価格</th>
<td style="width: 78.6957%; height: 186px;">「ぷちぷちハッピー愛らんど」有料会員（島民）
月額利用料：2,200円（税込み）※会員特典とサービス内容に関しては下記URLよりご確認ください。<a href="https://puchipuchi-happyisland.com/paid-subscriber/">https://puchipuchi-happyisland.com/paid-subscriber/</a></td>
</tr>
<tr style="height: 72px;">
<th style="width: 21.0145%; height: 72px;">商品代金支払方法と時期</th>
<td style="width: 78.6957%; height: 72px;">クレジットカード払いのみ</td>
</tr>
<tr style="height: 96px;">
<th style="width: 21.0145%; height: 96px;">役務または商品の引渡時期</th>
<td style="width: 78.6957%; height: 96px;">①お支払い完了後、会員サイトにログインでき、会員専用コンテンツをお楽しみいただけます。

②弊社の関連サービスへの会員さま特別価格の適用は、月額利用料をお支払い期間にのみ適用されます。</td>
</tr>
<tr style="height: 24px;">
<th style="width: 21.0145%; height: 24px;">返品・不良品</th>
<td style="width: 78.6957%; height: 24px;">商品の性質上、ご契約完了後のご返金はいかなる場合も出来かねます。
退会はお客様で行ってください。</td>
</tr>
</tbody>
</table>
